section.about
    .container
        .about__wrap
            .about__header
                h2.section-headers.about__title About Us
                p.about__descr We are added our major Services
            .about__content
                .about__item.about__item--like
                    h3.about__item-title Facebook Marketing
                    p.about__item-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                .about__item.about__item--book
                    h3.about__item-title landing pages Creation
                    p.about__item-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                .about__item.about__item--massage
                    h3.about__item-title Ads management
                    p.about__item-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                