section.approch
    .container
        .approch__wrap
            .approch__header
                h2.section-headers.approch__header-title Our Approch
                p.approch__header-descr Check Our approches step by step ( how we do it )
            .approch__content
                .approch__step
                    .approch__photo
                        img(src="images/step-1.jpg")
                    .approch__number-box
                        span.approch__number 1
                        span step
                    .approch__text
                        .approch__title Step 1 : Heading Here
                        .approch__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                .approch__step
                    .approch__photo
                        img(src="images/step-2.jpg")
                    .approch__number-box
                        span.approch__number 2
                        span step
                    .approch__text
                        .approch__title Step 2 : Heading Here
                        .approch__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                .approch__step
                    .approch__photo
                        img(src="images/step-3.jpg")
                    .approch__number-box
                        span.approch__number 3
                        span step
                    .approch__text
                        .approch__title Step 3 : Heading Here
                        .approch__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                .approch__step
                    .approch__photo
                        img(src="images/step-4.jpg")
                    .approch__number-box
                            span.approch__number 4
                            span step
                    .approch__text
                        .approch__title Step 4 : Heading Here
                        .approch__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.