section.footer
    .container
        .footer__wrap
            h2.footer__title Get in touch
            .socials
                a.socials__link
                    i.fa.fa-facebook(aria-hidden="true")
                a.socials__link
                    i.fa.fa-twitter(aria-hidden="true")
                a.socials__link
                    i.fa.fa-google-plus(aria-hidden="true")
                a.socials__link
                    i.fa.fa-linkedin(aria-hidden="true")
            p.footer__subscr Subscribe to our newsletter to stay update with what is new
            form(method="post" action="#").footer__form
                input.footer__mail-area(type="email" placeholder="Email Address" multiple)
                button.footer__btn(type="submit") Subscribe
    .footer__bottom
        .container
            .footer__bottom-wrap
                p.footer__copyrights Cssauthor.com © 2014 All Rights Reserved