section.form-section
    .container
        .form-section__header
            h2.form-section__title Get Your Free Facebook Analysis Now
            p.form-section__descr Enter your details below
            button(type="button").form-section__button
        .modal-form.is-hidden
            button(type="button").modal-form__exit
            p.modal-form__descr Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
            form.modal-form__wrap
                input.modal-form__textfield(type="text" name="name" placeholder="Your Name")
                input.modal-form__textfield(type="text" name="phone" placeholder="Contact Number")
                input.modal-form__textfield(type="text" name="company" placeholder="Company Name")
                button.btn.modal-form__button(type="submit") Submit