header.header
    .header__top
        .container
            .contacts
                a.contacts__item.contacts__mobile(href="tel:+380663373128")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact__text 337-31-28
                a.contacts__item.contacts__mail(href="mailto:info@business.com")
                    i.fa.fa-envelope(aria-hidden="true")
                    span.contact__text info@business.com
                a.contacts__item.contacts__social(href="facebook.com")
                    i.fa.fa-facebook(aria-hidden="true")
    .header__bottom
        .container
            nav.main-nav
                .main-nav__logo
                    img.logo(src="images/logo.png" alt="logo" width="242px" height="51px")
                .main-nav__wrap
                    .main-nav__list
                        a.main-nav__link.active(href="") Home
                        a.main-nav__link(href="#") About us
                        a.main-nav__link(href="#") Our Approch
                        a.main-nav__link(href="#") Our work
                    a.btn.main-nav__button(href="#") Free Consultation