section.works
    .container
        .works__wrap
            .works__header
                h2.section-headers.works__header-title Our Works
                p.works__header-descr We are added our featured works below
            .works__content
                .works__project
                    .works__project-name
                        h3.works__project-title Project name
                        span Facebook marketing
                    img(src="images/work-1.jpg" width="255px" height="255px")
                .works__project
                    .works__project-name
                        h3.works__project-title Project name
                        span Landing page
                    img(src="images/work-2.jpg" width="255px" height="255px")
                .works__project
                    .works__project-name
                        h3.works__project-title Project name
                        span Landing page
                    img(src="images/work-3.jpg" width="255px" height="255px")
                .works__project
                    .works__project-name
                        h3.works__project-title Project name
                        span Facebook marketing
                    img(src="images/work-4.jpg" width="255px" height="255px")
                    
                
                