.modal-form{
    background: #fff;
    text-align: center;
    padding: 50px 55px;
    padding-bottom: 70px;
    margin: 0 auto;
    max-width: 790px;
    min-width: 300px;
    border-radius: 5px;
    position: relative;
    color: #828282;
    font-family: $ff-main;
    letter-spacing: 1px;
    font-size: 18px;
    
    &::before{
        display: block;
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        top: -25px;
        left: 50%;
        margin-left: -25px;
        background-color: #fff;
        transform: rotate(45deg);
    }
    
    &__exit{
        display: block;
        background-color: $color-link-hover;
        width: 50px;
        height: 50px;
        position: absolute;
        right: -23px;
        top: -23px;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: 0.3s;
        
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            left: 10px;
            background-color: #fff;
            transform: rotate(50deg);
            transition: 0.3s;
        }
        
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            left: 10px;
            background-color: #fff;
            transform: rotate(-50deg);
            transition: 0.3s;
        }
        
        &:hover{
            background: #fff;
            border-color: $color-link-hover;
            
            &:before{
                background: $color-link-hover;
            }
            
            &:after{
                background: $color-link-hover;
            }
        }
        
        
         @media (max-width: 840px){
            top: 0;
             right: 0;
        }
    }
    
    &__descr{
        margin-bottom: 40px;
        font-size: 16px;
    }
    
    &__wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 600px;
        margin: 0 auto;
        align-content: center;
        align-items: center;
    }
    
    &__textfield{
        max-width: 500px;
        padding: 18px 24px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #d8d8d8;
        
        @include placeholder {
            
            @media (max-width: 476px){
               text-align: center;
            }
        }
    }
    
    &__button{
        width: 138px;
        padding: 11px 15px;
        text-transform: uppercase;
        align-self: center;
        background: $color-link-hover;
        border: none;
        transition: 0.3s;
        
        &:hover{
            background: #f35e59;
        }
    }
}