.poster{
    background-image: url(../../images/hero-bg.jpg);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin: 0 auto;
    
    &__wrap{
        
    }
    
    &__slogan{
        
    }
    
    &__text{
        
    }
    
    &__text--big{
        
    }
    
    &__text--small{
        
    }
    
    &__button{
        background-color: #f8cd53;
        transition: 0.3s;
    }
    
     &__button:hover{
        background-color: darken(#f8cd53,20%);
    }
}