.container{
    max-width: 1024px;
    margin: auto;
}

.btn{
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

