.container{
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    
    @media (max-width: 1024px){
        width: 100%;
    }
}

.btn{
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.section-headers{
    font-family: $ff-main-bold;
    font-size: 2rem;
}

.is-hidden{
    display: none;
}