// Fonts

$ff-main: 'helvetica-neve-regular';
$ff-main-bold: 'helvetica-neve-bold';
$ff-main-light: 'helvetica-neve-light';
$ff-steps: 'georgia-bold';

//Colors

$color-link: #424242;
$color-link-hover: #de2b24;
$color-border-top: #e2e2e2;